<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TaskApp</title>
        <link rel="stylesheet" href="/src/css/style.css" />
    </head>
    <body>
        <main class="main">
            <div class="wrapper">
                <div class="menu">
                    <div class="menu__logo">
                        <img
                            src="/src/assets/images/logo.png"
                            alt=""
                            class="menu__logo-icon"
                        />
                    </div>
                    <div class="menu__search">
                        <input
                            class="menu__search-input"
                            type="text"
                            placeholder="Tasks Search.."
                        />
                        <button class="menu__search-button">Search</button>
                    </div>
                    <div class="menu__user">
                        <div class="menu__user-settings">
                            <img
                                src="/src/assets/images/icons/icon-setting.png"
                                alt="Settings"
                            />
                        </div>
                        <div class="menu__user-account">
                            <img
                                src="/src/assets/images/icons/icon-user.png"
                                alt="Account"
                            />
                        </div>
                    </div>
                </div>
                <div class="main-сontent">
                    <div class="sidebar">
                        <a class="tasks sidebar--style" href="#">Tasks</a>
                        <a class="calendar sidebar--style" href="#">Calendar</a>
                    </div>
                    <div class="ajax-content">
                        <div class="index-content">
                            <h3>Hello, my friend!</h3>
                            <p>It's Task Manager.</p>
                            <p>I can help you to manage your tasks.</p>
                            <p>You can:</p>
                            <ul class="index-content-list">
                                <li>Add task</li>
                                <li>Remove task</li>
                                <li>Change task</li>
                                <li>Found by <b>tag</b> or <b>topic</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
